name: CI Pipeline

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    quality:
        name: Code Quality
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "latest"
                  enable-cache: true

            - name: Setup Python 3.11
              run: uv python install 3.11

            - name: Install Dependencies
              run: cd backend && uv sync --all-extras --dev

            - name: Lint with Ruff
              run: |
                  cd backend
                  uv run ruff check .

            # - name: Type check with mypy
            #   run: cd backend && uv run mypy .

    tests:
        name: Python testing
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Python 3.11
              run: uv python install 3.11
            
            - name: Install dev dependencies
              run: cd backend && uv sync --all-extras --dev

            - name: Run tests
              run: cd backend && uv run pytest